{% extends 'portfolio/base.html' %}
{% load static %}

<!-- content -->
{% block content %}

<div align="center" class ='container'>

 	<h1>Welcome to my portfolio!!</h1>

	<img id ='image_main' src="{% static 'portfolio/me.jpg' %}" height="400" width="250">
	<br><br><button type="button" class="btn btn-info"><a href="{% static 'portfolio/cv.pdf' %}">Download Curriculum Vitae</a></button>

	<hr>
</div>

<div class="row justify-content-md-center">

	<table>
		<tr>
			{% for project in projects %}
				<td>
					<h2>{{project.title}}</h2>
					<p>{{project.description}}</p>
					<img src="{{project.image.url}}" height="350" width="350">
					{% if project.url %}
					<p><a href="{{project.url}}">click to see more about...</a></p>
					{% endif %}
					{% endfor %}
				</td>
		</tr>
	</table>
	
</div>

{% endblock %}
